@model Jobverse.Models.Authentication.Login.LoginCompany
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Jobverse</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100 custom-main-div">
                <div class="col-md-9 col-lg-6 col-xl-5 h-100 custom-div-left">
                    <img src="~/images/logo-no-background.png" class="img-fluid custom-logo" alt="Jobverse" />
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 custom-form-div h-100">
                    <form class="custom-form" asp-controller="Employer" asp-action="LoginSuccess" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-center">
                            <p class="lead fw-normal mb-0 me-3 custom-font-size">Sign in with</p>
                            <button type="button" class="btn-floating mx-1 custom-google-icon-button">
                                <i class="fab fa-google custom-google-icon"></i>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0 custom-font-size">Or</p>
                        </div>

                        <div class="form-outline mb-4">
                            <input asp-for="Email" class="form-control custom-form-input" placeholder="Enter email address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <input asp-for="Password" class="form-control custom-form-input" type="password" id="password" name="Password" placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="form-check mb-0 d-flex">
                                <input asp-for="RememberMe" class="form-check-input" id="form2Example3" />
                                <label class="form-check-label custom-font-size-label" for="form2Example3">Remember me</label>
                            </div>
                            <a href="#!" class="text-body text-decoration-none custom-font-size-label">Forgot password?</a>
                        </div>
                        @if (!string.IsNullOrEmpty(ViewBag.InvalidCredentials))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.InvalidCredentials
                            </div>
                        }
                        <div class="text-center">
                            <button type="submit" id="signInBtn" class="btn btn-primary custom-login-button" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Sign in
                            </button>
                            <p class="fw-bold mt-2 pt-1 mb-0 custom-font-size">Don't have an account? <a asp-controller="Employer" asp-action="SignupEmployer" class="link-danger text-decoration-none">Sign up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>